-
  const dataMap1 = {
    title: "Задание по карте №1",
    subTitle: "Техническое задание",
    zoom: "17",
    mapId: "map-1",
    items: [
      "Реализовать карту через API Яндекс карт",
      "Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами",
      "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.",
    ]
  }

  const dataMap2 = {
    title: "Задание по карте №2",
    subTitle: "Техническое задание",
    zoom: "15",
    mapId: "map-2",
    items: [
      "Реализовать карту через API Яндекс карт",
      "Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами",
      "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.",
      "Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином",
    ]
  }


mixin map(data)
  .map
    .container
      h1 !{data.title}
      h2 !{data.subTitle}
      each item in data.items
        p !{item}

      .map__inner
        .map__inner-map(data-map=data.mapId data-center="59.968513, 30.317772" data-zoom=data.zoom)
